<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Blogger Template</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">Blogger Name</a>
            <a href="/about">About Me</a>
            <a href="/caterogies">Caterogies</a>
        </nav>
    </header>

{{!-- Aqui se cargaran las demas paginas --}}
    {{{body}}}
    
    <div class="footer">
        &copy; Mateh Elismar
    </div>
</body>
</html>