<div class="container">
    <h2>About Me! My Biography</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque officia rerum unde. Quaerat, harum! Eligendi veniam magnam perferendis praesentium quae unde. Ea dolorem aliquam, culpa eligendi ipsa vero ex id!</p>
</div>